extends layouts/_layout.pug

block variables
	- var activePage = 'blank-page'
	- var activeGroup = 'pages'

block title
	title Send Assessment Page - Maptek

block content
	.app-title
		div
			h1
				i.fa.fa-dashboard
				|  Assessment
			p Assessment management

		ul.app-breadcrumb.breadcrumb
			li.breadcrumb-item
				i.fa.fa-home.fa-lg
			li.breadcrumb-item
				a(href='#') Send assessment form

	.row
		.col-md-12
			.tile
				//- form(method='POST' action='/assessment/send-assessment')
				form(id='sendAssessmentForm')
					.tile-body
						.form-group
							label.control-label Email Addresses:
							input.form-control(id='inputEmailBox', name='inputEmailBox', type="text", placeholder="Separate multiple addresses by comma \" , \"" required)

						.form-group

							//- label.control-label Select Test
							//- input.form-control(id='inputAssBox', name='inputAssBox', type="text", placeholder="Input the NAME of test form")
						
						.form-group
							label.control-label Expiry Date:
							input.form-control(id='demoDate',type="text",placeholder="Select Date")

					.tile-footer
						button.btn.btn-primary(id='sendAssessButton', type="submit")
							i.fa.fa-fw.fa-lg.fa-check-circle
							| Send Assessment
						| &nbsp;&nbsp;&nbsp;
						button.btn.btn-primary(id='previewButton', type="button")
							| Preview
	
	.row
		.col-md-12
			.tile
				.tile-body
					div(id='mails')
					div(id='tests')
					div(id='due')
					p
					div(id='status')

block specific-js
	script(src='/javascripts/assessment.js')
	script(type='text/javascript', src="js/plugins/bootstrap-datepicker.min.js")
