.app-sidebar__overlay(data-toggle="sidebar")
aside.app-sidebar

	.app-sidebar__user
		img.app-sidebar__user-avatar(src='https://cdn2.iconfinder.com/data/icons/user-icon-2-1/100/user_5-15-512.png', alt='User Image' width='50')
		div
			p.app-sidebar__user-name Map Tek
			p.app-sidebar__user-designation Admin User

	ul.app-menu
		li
			a.app-menu__item(href='/index' class={'active': activePage == 'dashboard'})
				i.app-menu__icon.fa.fa-home
				span.app-menu__label Home

		li
			a.app-menu__item(href='/users/manage-users' class={'active': activePage == 'users'})
				i.app-menu__icon.fa.fa-user-circle
				span.app-menu__label Manage Users

		li
			a.app-menu__item(href='/questions/view' class={'active': activePage == 'manage-questions'})
				i.app-menu__icon.fa.fa-file-code-o
				span.app-menu__label Manage Questions

		li
			a.app-menu__item(href='/test/manage-test')
				i.app-menu__icon.fa.fa-file-code-o
				span.app-menu__label Manage Tests

		li
			a.app-menu__item(href='/assessment/send-assessment' class={'active': activePage == 'send-assessment'})
				i.app-menu__icon.fa.fa-paper-plane-o
				span.app-menu__label Send Assessment
