doctype html
html
  head
    title= title
    script(src="https://www.gstatic.com/firebasejs/6.5.0/firebase.js") 
    link(rel='stylesheet', href='https://bootswatch.com/4/darkly/bootstrap.min.css')
  body

    .main.container
            
        div.login-group(class="login-group")
            div.form-group
                label(for='email') Email:
                input(type='email', name='email', id='email', placeholder='Enter Email')
            div.form-group
                label(for='password') Password:
                input(type='password', name='password', id='password', placeholder='Enter Password')
            


            button.btn.btn-primary(type='submit', id='btnLogin') Log in
            
            
        

  script(src='/js/loginAuth.js')
