extends layout

block content
  Add Admin Users

    // register form
    form(method='POST' action='/users/register')
      #form-group
        label First Name:
        input#name.form-control(type='text', name='firstName')
      #form-group
        label Last Name:
        input#name.form-control(type='text', name='lastName')
      #form-group
        label  Email:
        input#email.form-control(type='text', name='email')
      button.btn.btn-primary(type='submit') Save